# subject: Pandas in data science
#written by: Haseeb Raza 
 
#where to contact: linked

In [ ]:

import pandas as pd
pd.__version__

## Importing data set from excel

In [ ]:
#pd.read_excel("iris_dataset.xlsx")

df = pd.read_excel("iris_dataset.xlsx")

print(df)

In [ ]:
#df.head
#df.tail
#df.head()
#df.tail()
df.head(10)
#df.tail(10)

In [ ]:
df.shape

In [ ]:
df.index

In [ ]:
pd.DataFrame({'A': [4,5,6],'B':[7,8,9]})

In [ ]:
# import numpy to create array
import numpy as np
arr = np.array([[4,5,6],[7,8,9],[1,2,3]])
arr

In [ ]:
pd.DataFrame(arr)

In [ ]:
pd.DataFrame(np.random.rand(8,3))

In [ ]:
pd.DataFrame(np.random.rand(8,3), columns=list('abc'))

In [ ]:
edf = pd.DataFrame({'A': [4,5,6],'B':[7,8,9]})
edf
edf.rename(columns={'A':'Haseeb','B':'Raza'}, inplace=True)
edf

5- Changing the column names

In [ ]:
#print(df)
#df.columns=["sepal_length","sepal_width","petal_length","petal_width","species"]

print(df)

In [ ]:
df.columns=df.columns.str.replace("-","_")
print(df)

In [ ]:
df = df.add_prefix("iris_")
df

In [ ]:
#df = df.add_suffix("(flower)")
df.columns=["sepal_length","sepal_width","petal_length","petal_width","species"]
print(df)

6- using example dataset

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns

In [ ]:
#df2 = sns.load_dataset("titanic")
print(df2)

In [ ]:
df2.head(10)

In [ ]:
df2.describe() # to get summary of data

In [ ]:
df2.columns

In [ ]:
df2.shape

In [ ]:
#df2.to_excel('titanic_save.xlsx')
#df2.to_csv('ypdc_save.csv')

In [ ]:
#df3 = pd.read_csv("ypdc_save.csv")
print(df3)

In [ ]:
df.loc[::-1].head() # dasha palatnay k liye 
# inverting rows

In [ ]:
df.loc[::-1].reset_index(drop=True).head()

In [ ]:
df.loc[:, ::-1].head() # for inverting columns

In [ ]:
df.dtypes

In [ ]:
df.select_dtypes(include=['float64']).head()

In [ ]:
df.select_dtypes(exclude=['float64']).head()

In [ ]:
df.select_dtypes(include=['object','float64']).head()

## How to convert strings into numbers

In [ ]:
df4 = pd.DataFrame({'col_a':['2','3','4','5','6'], 
                    'col_b':['2','3','7','9','1']})
df4.dtypes

# type casting

In [ ]:
df4.astype({'col_a':'int64','col_b':'int64'}).dtypes

In [ ]:
pd.to_numeric(df4['col_a'],errors='coerce').dtype

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns

## reading data from clipboard

In [ ]:
# reading data from clipboard 
# df6 = pd.read_clipboard()
# df6.head()
df6.to_csv("iris_2.csv")

# scrapping

In [ ]:
# len(df)
# df.shape

In [ ]:
# from random import random
df_1 = df.sample(frac=0.50, random_state=1) # to take a sample from a dataset
df_1.head()
# df_1.shape

In [ ]:
df_2 = df.drop(df_1.index)
df_2.head()
df_2.shape

In [ ]:
# for joining two datasets 
df_3 = pd.concat([df_1, df_2])
df_3 = df_3.reset_index(drop=True)
print(df_3)

## filtering dataset

In [ ]:
# df.columns
df.species.unique()

In [ ]:
df[(df.species=="setosa")] # adjusting number of rows

In [ ]:
df[(df.species=="setosa") | 
   (df.species=="versicolor")]

In [ ]:
df[(df.species=="setosa") &
   (df.species=="versicolor")]

In [ ]:
df[(df.sepal_length>=5.0) &
   (df.petal_length!=4.6) &
   (df.species=="versicolor")]